# Build
target/
node_modules/
.next/
out/
*.tsbuildinfo
next-env.d.ts

# Env
.env
.env.local
.env*.local

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Keys
**/*-keypair.json

# Keeper state
keeper-state.json
